// // Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
// @import 'variables';

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';


@tailwind base;

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/eot/IRANSansWeb(FaNum)_Bold.eot");
    src: url("../fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */
        url("../fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("../fonts/woff/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("../fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/eot/IRANSansWeb(FaNum)_Medium.eot");
    src: url("../fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */
        url("../fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("../fonts/woff/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("../fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/eot/IRANSansWeb(FaNum)_Light.eot");
    src: url("../fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */
        url("../fonts/woff2/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("../fonts/woff/IRANSansWeb(FaNum)_Light.woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("../fonts/ttf/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot");
    src: url("../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */
        url("../fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("../fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("../fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf") format("truetype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/eot/IRANSansWeb(FaNum).eot");
    src: url("../fonts/eot/IRANSansWeb(FaNum).eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */
        url("../fonts/woff2/IRANSansWeb(FaNum).woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("../fonts/woff/IRANSansWeb(FaNum).woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("../fonts/ttf/IRANSansWeb(FaNum).ttf") format("truetype");
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Yekan/Yekan-Bakh-EN-Regular.woff");
}


body {
    direction: rtl;
    font-family: IRANSans;
    overflow-x: hidden;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: IRANSans;
}

@tailwind components;

@tailwind utilities;


.toggle__dot {
    top: -.25rem;
    left: -.25rem;
    transition: all 0.3s ease-in-out;
}

input:checked~.toggle__dot {
    transform: translateX(100%);
    background-color: #298A96;
}

.top-header {
    background: url(../images/bg/header-repeat.png),
        url(../images/bg/header-curve.png);
    background-repeat: no-repeat;
    background-position: 3%,
        bottom;
    padding-bottom: 7rem;
    /* background-size: initial; */
}

.bottom-footer {
    background: url(../images/bg/header-repeat.png),
        url(../images/bg/footer-curve.png);
    background-repeat: no-repeat;
    background-position: 3%,
        top;
    padding-top: 5rem;
    /* background-size: initial; */
}

.irsans {
    font-family: 'IRANSans';
}

.nav-bg {
    background: linear-gradient(180deg, rgba(216, 245, 255, 1) 0%, transparent 98%);
}

.about-card {
    margin-top: -5rem;
}

// .shadow-blue {
//     box-shadow: 0 20px 25px -5px rgba(220, 246, 255, 0.51), 0 10px 10px -5px rgb(220, 246, 255);
// }

.bg-icon {
    background: url(../images/icons/rectangle.png);
    background-repeat: no-repeat;
    background-position: center;
}

.btn-register {
    background-image: linear-gradient(45deg, rgba(32, 168, 194, 1) 30%, rgba(20, 200, 209, 1) 70%);
}

.btn-step {
    background-image: linear-gradient(90deg, rgba(32, 168, 194, 1) 40%, rgba(20, 200, 209, 1) 60%);
    box-shadow: 0px 2px 15px 0px #9fcdde;
}

.btn-step:hover {
    box-shadow: 0 20px 25px -5px rgba(220, 246, 255, 0.51),
        0 10px 10px -5px rgb(220, 246, 255);
}


.section-line {
    background: url('../images/line.png');
    background-position: left;
    background-size: 0.5%;
    background-repeat-x: no-repeat;
}


.stage-bg {
    top: 0px;
    left: -7px;
}

.shadow1,
.shadow2,
.shadow3,
.shadow4,
.shadow5,
.shadow6,
.shadow7,
.shadow8 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}

.shadow4:before,
.shadow4:after {
    position: absolute;
    content: "";
    top: 14px;
    bottom: 14px;
    left: 0;
    right: 0;
    box-shadow: 0 0 25px 3px #548E7F;
    border-radius: 100px/10px;
    z-index: -1;
}
